body{
	background-color: rgb(105,130,90);
	color: rgb(70,220,100);
	font-size: 30px;
	
}

h1 {

	color: rgb(20,45, 14);
	font-size: 62px;	
	text-align: center;

}

div.container {
	display: inline-block;

	margin-right: 40px;
	margin-left: 20px;

	position: static;
}
 h5{
 	font-size: 22px;
	 }


 div.container img {
 	
 	width: 45%;
 	height: 45%;
 	margin: 20px 20px 20px 20px;
 	
 }
 div.container p {
 	font-size: 17px;
 }

 span{
 	font-size: 26px;
 }

